p{
    text-align: center;
    
    color:#111827

}
body{
    background: F97316;
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
}
#header{
    color:#111827;
}
.about{
    text-align: center;
    color:#111827;
}
.projects{
    background: #374151
}
.left{
    text-align: left;
}
.green{
    color:#F97316;
}
.attention{
    font-weight: bold;
}
.project img{
    max-width: 100%;
    margin: 10px;
    border: 2px solid #F97316;
    display:block;
    margin:auto;
}
.projects {   display:flex; flex-wrap:wrap;  }
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background:#F9FAFB;  
    border-radius: 25%;
}
