p{
    text-align: center;
    color:red

}
body{
    background: color(coral);
    font-family:Arial, Helvetica, sans-serif;
    margin: 40px;
}
#header{
    color:green;
}
.about{
    text-align: center;
    color:blue;
}
.projects{
    background: aqua;
}
.left{
    text-align: left;
}
.green{
    color:green;
}
.attention{
    font-weight: bold;
}